@page
@model VstupenkyWeb.Pages.Vstupenky.TabulkaVstupenkyModel
@using System.Security.Claims

@{
    ViewData["Title"] = "Vstupenky";
    var userId = int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
}

<div style="display: flex; justify-content: space-between; align-items: center;">
    <h1>Seznam Vstupenek</h1>
    <div>
        <a asp-page="./Pridat" class="btn btn-primary">Rezervovat vstupenky</a>
        @if (User.IsInRole("Admin"))
        {
            <button type="button" class="btn btn-success btn-sm" onclick="location.href='/vstupenky/api/Export/ExportCsv'">Exportovat do CSV</button>
        }
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Jméno</th>
            <th>Počet</th>
            <th>Datum Rezervace</th>
            @if (User.IsInRole("Admin") || User.IsInRole("Zakaznik"))
            {
                <th>Akce</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var vstupenka in Model.Vstupenky)
        {
            <tr>
                <td>@vstupenka.Id</td>
                <td>@vstupenka.Jmeno</td>
                <td>@vstupenka.Pocet</td>
                 @if (User.IsInRole("Admin") || vstupenka.Uzivatel_ID == userId)
                    {
                        <td>@vstupenka.DatumRezervace</td>
                    }   
                <td>
                    @if (User.IsInRole("Admin") || vstupenka.Uzivatel_ID == userId)
                    {
                        <form method="post" style="display: inline-block;">
                            <input type="hidden" asp-for="@vstupenka.Id" name="id" />
                            <button type="submit" class="btn btn-danger btn-sm">Odstranit</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>