@page
@model VstupenkyWeb.Pages.EditProfiluModel
@{
    ViewData["Title"] = "Profil";
}

<h1>Profil</h1>

<dl class="row">
    <dt class="col-sm-2">Jméno:</dt>
    <dd class="col-sm-10">@Model.Jmeno</dd>

    <dt class="col-sm-2">Příjmení:</dt>
    <dd class="col-sm-10">@Model.Prijmeni</dd>

    <dt class="col-sm-2">Login:</dt>
    <dd class="col-sm-10">@Model.Login</dd>

    <dt class="col-sm-2">Heslo:</dt>
    <dd class="col-sm-10">
        ********  
        <a asp-page="/UdajeZmena/HesloZmena" class="btn btn-sm btn-outline-primary">Změnit</a>
    </dd>

    <dt class="col-sm-2">Email:</dt>
<dd class="col-sm-10">
    @Model.Email
    <form method="post" asp-page="/UdajeZmena/MailZmena" style="display: inline;">
        <button type="submit" class="btn btn-sm btn-outline-primary">Změnit</button>
    </form>
</dd>

    <dt class="col-sm-2">Profilový obrázek:</dt>
    <dd class="col-sm-10">
        @if (!string.IsNullOrEmpty(Model.ProfileIconPath))
        {
            <img src="@Model.ProfileIconPath" alt="Profilový obrázek" style="max-width: 100px; max-height: 100px;" />
        }
        else
        {
            <span>Žádný profilový obrázek</span>
        }
        <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#changeIconModal">Změnit</button>
    </dd>
</dl>

<!-- Change Icon Modal -->
<div class="modal fade" id="changeIconModal" tabindex="-1" aria-labelledby="changeIconModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeIconModalLabel">Změnit Profilový Obrázek</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-page-handler="ChangeIcon" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="ProfileIcon" class="form-label">Nový Profilový Obrázek</label>
                        <input type="file" class="form-control" id="ProfileIcon" name="ProfileIcon">
                    </div>
                    <button type="submit" class="btn btn-primary">Uložit Obrázek</button>
                </form>
            </div>
        </div>
    </div>
</div>